@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Saludos a mi compita Josue Ramirez Villareal cuando vamos a Patinar    
</div>
